{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to Blogify! This is not just another blog—it's a space where ideas come to life,
          stories unfold, and creativity knows no bounds. Here, we explore topics that matter,
          dive into inspiring stories, and share insights that spark curiosity and conversation.
          Whether you're here to learn something new, find a fresh perspective, or simply enjoy a good read,
          we're glad you're part of this journey. Our mission is to bring you engaging content that informs,
          entertains, and inspires. Thanks for stopping by, and we hope you stick around!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
